@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 600;
}
