body{
    box-sizing: border-box;
    width: 100%;
}

.logo{
    width: 20%;
    border-radius: 100000px;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    border: 2px solid #000000;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    width: 90%;
    font-size: 2vmax;
    align-items: center;
    text-align: center;
    font-weight: 800;
}

.links{
    display: flex;
}

.links li{
    list-style: none;
    margin-top: 2vmax;
}

.links li a{
    text-decoration: none;
    font-size: 2vmax;
    margin: .6vmax 2vmax;
    color: black;
}

.btn{
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #3156c8;
    border-color: #0d6efd;
}

.btn:hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
}

@media screen and (max-width : 700px) {
    .logo{
        width: 55%;
    }
}