.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 1vmax;
  font-size: 1.6vmax;
  text-align: center;
  font-weight: 500;
  color: rgb(0, 0, 0);
  z-index: 100;
  background-color: rgb(255, 255, 255);
}


@media screen and (max-width: 700px) {
  .footer {
    padding: 1vmax;
    text-align: center;
    font-size: 2vmax;
  }
}
