.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
    justify-items: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;

}

.comp{
    margin: 0vmax 5vmax;
}

.login-pic img{
    height: 50vh;
    margin: 6vmax 4vmax;
}

.btn{
    cursor: pointer;
    outline: 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
    margin: 2vmax;
}

.btn-mid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
}

.login-head{
    margin: 1vmax 0px;
    margin-top: 0vmax;
}

.inp{
    width: 100%;
    margin: .8vmax 0;
    outline: none;
    padding: .6vmax;
    font-size: 1.7vmax;
    font-weight: 600;
}

.label{
    font-weight: 700;
    font-size: 1.4vmax;
}

@media screen and (max-width : 700px) {
    .main{
        flex-direction: column;
    }
    .login-pic img{
        height: 15vh;
        margin-top: 15px;
    }
    .comp{
        margin: 0vmax 1vmax;
    }
}