.old-expenses{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vmax;
}
table{  
    border-collapse: collapse;  
    width: 85vw;   
    border-radius: 2vmax;
}  
th,td{  
border: 1.3px solid #000000;
border-radius: 1px;
padding: .6vmax;
padding-left: 1.2vmax;
width: 30%;  
font-size: 1.4vmax;

}  



h2{
    margin: 1vmax 0;
}
td button{
    margin: .6vmax 3vmax;
}
th{
    background-color: #6b92d5;
    color: rgb(0, 0, 0);
}